
/* certificate section */


.navbar{
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 80px;

    position: sticky;
    top: 0;

    z-index: 1000;

    background: linear-gradient(to right,#020617,#0f172a,#1e1b4b);
}

.logo{
    color: white;
    font-size: 28px;
    font-weight: 400;
}

.logo span{
    color: #7c3aed;
}

.nav-links{
    display: flex;
    gap: 40px;
}

.nav-links a{
    color: white;
    text-decoration: none;

    transition: 0.3s ease;
}

.nav-links a:hover{
    color: #7c3aed;
}

.download-btn{
    text-decoration: none;

    color: white;

    background: #7c3aed;

    padding: 12px 25px;

    border-radius: 10px;

    transition: 0.3s ease;
}

.download-btn:hover{
    box-shadow: 0 0 20px rgba(124,58,237,0.6);
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#020617,#0f172a);
    font-family: 'Poppins', sans-serif;
     box-sizing: border-box;
}


.certificate-section{
    padding: 20px;
}

.certificate-title{
    text-align: center;
    color: #c026d3;
    font-size: 18px;
}

.certificate-heading{
    text-align: center;
    color: white;
    font-size: 55px;
    margin: 15px 0 50px;
}

.certificate-container{
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    gap:60px;
    flex-wrap: wrap;
}

.certificate-card{
    width: 400px;
    background: rgba(255,255,255,0.03);
    border: 1px solid #1e293b;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s ease;
}

.certificate-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 25px rgba(124,58,237,0.5);
}

.certificate-card img{
    width: 100%;
    height: 220px;
    /* object-fit: cover; */
}

.certificate-card h3{
    color: white;
    text-align: center;
    padding: 20px;
}